@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
/* // tips:響應式圖片設計，建議 img 設定 max-width: 100%、height: auto。參考文件
// .wrap 的寬度不建議設定 width:100%; ，設定 100% 會導致每個螢幕解析度看到的寬度都不一樣，可能導致某些螢幕上可讀性較差，建議設定一個固定的 px 後在使用 margin: 0 auto; 置中 ，height:100%; 也可以拿掉唷。
// 3xx px，出現橫軸，是由 .sidemenu figure 所導致，這邊可以不需寫死寬度，至適應父元素寬
// <footer> 內的文字 Copyright© 2021 建議外層也包上 p 標籤。 */
*, body, html, input {
  font-family: "SF Pro Text", "Microsoft JhengHei";
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

img {
  max-width: 100%;
  display: block;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  background: #fff;
  width: 100%;
  padding: 5px 10px;
  z-index: 1;
}

.logo a {
  background: center/contain no-repeat url(https://github.com/hexschool/webLayoutTraining1st/blob/master/perfume-week6/d%E2%80%99Perfume@2x.png?raw=true);
  width: 130px;
  height: 50px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

.navlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navlink a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px 16px;
  position: relative;
  color: #8c8c8c;
  font-size: 1.2rem;
}

@media (max-width: 767px) {
  .navlink {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .navlink.active {
    max-height: 300px;
  }
  .navlink.brand_catlog {
    display: none;
  }
  .navlink .material-icons {
    display: none;
  }
  .navlink li {
    background-color: #8c8c8c;
  }
  .navlink li:hover {
    background-color: #916000;
  }
  .navlink a {
    padding: 10px;
    color: #fff;
    border-bottom: 1px solid #fff;
  }
}

.mobile-navlink {
  display: none;
}

@media (max-width: 767px) {
  .mobile-navlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mobile-navlink a {
  color: #8c8c8c;
}

.mobile-navlink .menu {
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.mobile-navlink .menu span {
  width: 100%;
  margin: 5px 0;
  height: 1px;
  background-color: #8c8c8c;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mobile-navlink .menu:hover span:nth-child(2) {
  opacity: 0;
}

.mobile-navlink .menu:hover span:nth-child(1),
.mobile-navlink .menu:hover span:nth-child(3) {
  width: 100%;
  position: absolute;
  left: 1px;
}

.mobile-navlink .menu:hover span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-navlink .menu:hover span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #fff;
  width: 100%;
  background: #916000;
}

footer .navlink a {
  color: #fff;
}

@media (max-width: 767px) {
  footer .navlink {
    display: none;
  }
}

.card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 540px;
}

@media (max-width: 480px) {
  .card-list {
    height: 350px;
  }
}

.card-list .card-img {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.card-list .card-img img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.card-list .card-img::before {
  content: "MORE";
  width: 100%;
  height: 100%;
  background-color: #b1a8a8a6;
  position: absolute;
  top: 100%;
  left: 0%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-transition: -webkit-transform .3s ease-in;
  transition: -webkit-transform .3s ease-in;
  transition: transform .3s ease-in;
  transition: transform .3s ease-in, -webkit-transform .3s ease-in;
}

.card-list .card-img:hover::before {
  background-color: #2e2d2da6;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.card-list .card-body {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1rem;
}

.card-list .card-body .material-icons {
  color: #916000;
}

.card-cover {
  position: relative;
}

.card-cover::after {
  content: "SOLD OUT";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  letter-spacing: 3px;
  background: rgba(140, 140, 140, 0.85);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.col-2 div {
  margin: 0 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 0px);
          flex: 0 0 calc(50% - 0px);
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form label {
  margin: 10px 0;
  font-size: 16px;
  color: #333333;
}

form input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #333333;
  width: 100%;
  border-radius: 10px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.pagination .current {
  border-bottom: 1px solid #916000;
}

.pagination a {
  padding: 10px 20px;
  color: #916000;
}

button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  outline: none;
  padding: 1rem;
  border-radius: 6px;
}

.button-b-r {
  border-radius: 2rem;
  padding: 20px;
}

.brand_catlog {
  background-color: #916000;
}

.brand_catlog a {
  color: #fff;
}

.wrap {
  font-family: "SF Pro Text", "Microsoft JhengHei";
  margin: 60px auto 0 auto;
}

section[class^="product"]:not(.product_show) {
  background-color: #fff;
}

.banner {
  height: calc(100vh - 60px);
  background: center/cover no-repeat url(https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner .banner_descript {
  color: #fff;
  width: 50%;
  padding: 20px;
}

.banner .banner_descript * {
  margin: 20px 0;
}

.banner .banner_descript h2 {
  font-size: 2rem;
}

.banner .banner_descript p, .banner .banner_descript a {
  font-size: 24px;
}

.banner .banner_descript a {
  border-radius: 20rem;
  border: 2px solid #fff;
  padding: 20px;
  display: block;
  text-align: center;
}

@media (max-width: 992px) {
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .banner_descript {
    width: 100%;
  }
}

.product_intro {
  width: 100%;
  padding: 50px;
}

.product_intro .intro_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vw;
}

.product_intro .intro_block:nth-child(odd) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 992px) {
  .product_intro .intro_block:nth-child(odd) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.product_intro .intro_block:last-child {
  height: 100vw;
}

@media (max-width: 992px) {
  .product_intro .intro_block:last-child {
    height: auto;
  }
}

.product_intro .intro_block .intro_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.product_intro .intro_block .intro_img img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 992px) {
  .product_intro .intro_block .intro_img img {
    height: 500px;
  }
}

@media (max-width: 992px) {
  .product_intro .intro_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.intro_descrip {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro_descrip * {
  margin: 20px 0;
}

.intro_descrip h3 {
  font-size: 2rem;
}

.intro_descrip p {
  font-size: 1.25rem;
}

.intro_descrip span {
  color: #916000;
}

.intro_descrip a {
  color: inherit;
  border: 1px solid;
}

.product_show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem;
  background-color: #E0E0E0;
}

.product_show > .card-list {
  margin: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(33.3333% - 20px);
          flex: 0 0 calc(33.3333% - 20px);
}

@media (max-width: 767px) {
  .product_show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product_show .card-list {
    margin: 20px 0;
  }
}

.product_recycle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2rem;
}

.product_recycle .recycle_img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 500px;
          flex: 1 1 500px;
}

.product_recycle .recycle_img img {
  width: 100%;
  height: 100%;
}

.product_recycle .recycle_info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  padding: 1rem;
}

.product_recycle .recycle_info h3 {
  font-size: 2rem;
  font-weight: bold;
}

.product_recycle .recycle_info h4 {
  margin: 20px 0;
}

.product_recycle .recycle_info p {
  letter-spacing: 1px;
}

.product_recycle .recycle_info span {
  color: #916000;
  display: inline-block;
  margin: 20px 0;
}

.subscribe {
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subscribe::before {
  content: "";
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: calc(100vh - 60px);
  background: center/cover no-repeat url(https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
}

.subscribe form {
  padding: 20px;
  margin-bottom: 5rem;
}

.subscribe label {
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #8D8D8D;
  margin-bottom: 20px;
}

.subscribe .subscr_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 56px;
  border: 2px solid #916000;
}

.subscribe .subscr_info input[type=text] {
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: #fff;
  font-size: 20px;
  line-height: 60px;
  font-size: 1rem;
  padding: 5px;
  outline: none;
  border: none;
}

.subscribe .subscr_info .subscr_button {
  padding: 10px 20px;
  color: #fff;
  background: #916000;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product_list {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product_list > .card-list {
  margin: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 20px);
          flex: 0 0 calc(25% - 20px);
}

@media (max-width: 767px) {
  .product_list > .card-list {
    margin: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(33.33333% - 20px);
            flex: 0 0 calc(33.33333% - 20px);
  }
}

@media (max-width: 480px) {
  .product_list > .card-list {
    margin: 0 10px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(50% - 20px);
            flex: 0 0 calc(50% - 20px);
  }
}

.product_list .card-list {
  height: 350px;
}

#overlay {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
}

#overlay.active {
  display: block;
}

.login_btn {
  background-color: #916000;
  color: #fff;
}

.login_btn .active {
  background-color: #fff;
  color: #916000;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (400px)[3];
      grid-template-rows: repeat(3, 400px);
  grid-gap: 10px;
}

.box1 {
  -ms-grid-row: span 1;
      grid-row-start: span 1;
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.add_tocart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.add_tocart input {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #916000;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.add_tocart button {
  padding: 10px;
  background-color: #916000;
  color: #fff;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.add_tocart a {
  padding: 10px;
  background-color: #916000;
  color: #fff;
  border-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.member .side_menu {
  margin: 0 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(15% - 0px);
          flex: 0 0 calc(15% - 0px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.member .side_menu h3 {
  text-align: center;
}

.member .side_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.member .side_menu li a {
  padding: 10px 0;
  font-size: 16px;
  line-height: 24px;
  color: #848484;
  border-bottom: 2px solid transparent;
}

.member .side_menu li.active {
  border-bottom: 2px solid #916000;
}

.member .member_form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 50px;
}

.member .member_form .form_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
}

.member .member_form label {
  min-width: 80px;
}

.member .member_form input {
  color: #8D8D8D;
}

.member .member_info {
  margin: 0 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(25% - 0px);
          flex: 0 0 calc(25% - 0px);
}

.member .member_info table th {
  font-size: 16px;
  font-weight: inherit;
  text-align: left;
  margin-right: 10px;
}

[data-aos="new-animation"] {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="new-animation"].aos-animate {
  opacity: 1;
}

.f-s-1 {
  font-size: 16px;
  line-height: 24px;
}

.f-s-2 {
  font-size: 20px;
  line-height: 30px;
}

.f-s-3 {
  font-size: 24px;
  line-height: 36px;
}

.d-flex {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.full-section {
  height: calc(100vh - 60px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=all.css.map */