.wrap{
    font-family: $main-font;
    margin: #{$header-height} auto 0 auto;
}

section[class^="product"]:not(.product_show) {
    background-color: #fff;
}

.banner{
    height: $full-vh;
    background: center / cover no-repeat url(https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80);
    // background-attachment: fixed;
    // background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // &::before{
    //     content:"";
    //     display:block;
    //     position:fixed;
    //     top:0;
    //     left:0;
    //     z-index:-9;
    //     width:100%;
    //     height: $full-vh;
    //     margin-top:$header-height;
    //     background: center / cover no-repeat url(https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80);    
    // }
    .banner_descript{
        color:#fff;
        width:50%;
        padding: 20px;
        *{
            margin:20px 0;
        }
        h2{
            font-size: 2rem;
        }
        p,a{
            font-size: 24px;
        }
        a{
            border-radius: 20rem;
            border:2px solid #fff;
            padding:20px;
            display: block;
            text-align: center;
        }
    }
    @include pad{
        &{
            justify-content: center;
            .banner_descript{
                width:100%;
            }
        }

    }
}

.product_intro{
    width: 100%;
    padding: 50px;
    .intro_block{
        display:flex;
        height: 50vw;
        &:nth-child(odd){
            flex-direction: row-reverse;
            @include pad{ flex-direction: column;}
        }
        &:last-child{
            height: 100vw;
            @include pad{ 
                height: auto;
            }
            
        }
        .intro_img{
            flex: 0 0 50%;
            img{
                display: block;
                max-width: 100%;
                width:100%;
                height: 100%;
                object-fit: cover;
                @include pad{
                    height: 500px;
                }
            }
        }
        @include pad{
            flex-direction: column;
            height: auto;
        }       
    }
}


.intro_descrip{
    flex: 0 0 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: center;
    *{
        margin:20px 0;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.25rem;
    }
    span{
        // margin-top: auto;
        color:$primary-color;
    }
    a{
        color:inherit;
        border: 1px solid;
    }
}
 
.product_show{
    // height: $full-vh;
    display: flex;
    padding: 4rem;
    background-color: $third-color;
    @include card-list-bs(10,33.3333%);
    @include phone{
        // height: auto;
        flex-direction:column;
        .card-list{
            margin:20px 0;
        }
    }
}

.product_recycle{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    .recycle_img{
        flex:1 1 500px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .recycle_info{
        flex:1 1 300px;
        padding:1rem;
        h3{
            font-size: 2rem;
            font-weight: bold;
        }
        h4{
            margin:20px 0;
        }
        p{
            letter-spacing: 1px;
        }
        span{
            color:$primary-color;
            display: inline-block;
            margin: 20px 0;
        }
    }

}

.subscribe{
    height:$full-vh;
    // background: center / cover no-repeat url(https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);
    // background-attachment: fixed;
    display: flex;
    align-items: flex-end;
    &::before{
        content:"";
        display:block;
        position:fixed;
        bottom:0;
        left:0;
        z-index:-1;
        width:100%;
        height: $full-vh;
        background: center / cover no-repeat url(https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);    
    }
    
    form{
        padding: 20px;
        margin-bottom: 5rem;
    }
    label{
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        color: #8D8D8D;
        margin-bottom: 20px;
    }

    .subscr_info{
        display:flex;
        height: 56px;
        border: 2px solid $primary-color;
        // border-radius: 0.25rem;
        input[type=text]{
            height: 100%; 
            flex: 1;
            background: #fff;
            font-size: 20px;
            line-height: 60px;
            font-size: 1rem;
            padding: 5px;
        }
        .subscr_button{
            padding: 10px 20px;
            color:#fff;
            background:$primary-color;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
}



.product_list{
    padding:20px;
    display:flex;
    flex-wrap: wrap; 
    @include card-list-bs(10,25%);
    @include phone{
        @include card-list-bs(10, 100%/3);
    }
    @include mobile{
        @include card-list-bs(10, 100%/2);
    }
}






.login_btn{
    background-color:$primary-color;
    color:#fff;
    .active{
        background-color:#fff;
        color:$primary-color;

    }
}


.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-gap: 10px;
}

.box1 {
    grid-row-start: span 1;
    grid-column-start: span 2;
}


.add_tocart{
    display: flex;
    width: 100%;
    input{
        font-size: 16px;
        padding: 10px;
        border:1px solid $primary-color;
        // width: 100%;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex:1;
    }
    button{
        padding: 10px;
        background-color: $primary-color;
        color:#fff;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }
    a{
        padding: 10px;
        background-color: $primary-color;
        color:#fff;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.member{
    display: flex;
    padding: 20px;

    .side_menu{
        @include column-basis-style(0,15%);
        flex-direction: column;
        h3{
            text-align: center;
        }
        ul{
            display: flex;
            flex-direction: column;
        }

        li a{
            // display: inline-block;
            // font-weight: 500;
            padding: 10px 0;
            font-size: 16px;
            line-height: 24px;
            color: #848484;
            border-bottom: 2px solid transparent;
        }
        li.active{
            border-bottom: 2px solid $primary-color;
        }
    }
    .member_form{
        flex:1;
        margin:0 50px;
        .form_control{
            display:flex;
            margin: 10px 0;
        }
        label{
            min-width: 80px;
        }
        input{
            color:#8D8D8D;
        }

    }
    .member_info{
        @include column-basis-style(0,25%);
        table{
            th{
                font-size: 16px;
                font-weight: inherit;
                text-align: left;
                margin-right: 10px;
            }
        }
    }    
}