.wrap{
    font-family: $main-font;
    margin: #{$header-height} auto 0 auto;
}

section[class^="product"]:not(.product_show) {
    background-color: #fff;
}

.banner{
    // height: $full-vh;
    height: calc(var(--vh, 1vh) * 100 - 60px);
    background: center / cover no-repeat url(https://images.unsplash.com/photo-1588159343745-445ae0b16383?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .banner_descript{
        color:#fff;
        width:50%;
        padding: 3rem;
        *{
            margin:20px 0;
        }
        h2{
            font-size: 2.6rem;
        }
        p,a{
            font-size: 24px;
        }
        a{
            // @include button-basis-style(2,#fff)
            border-radius: 20rem;
            border:2px solid #fff;
            padding:10px;
            transition: all .3s;
            width: 300px;
            box-shadow: 3px 4px 0px transparent;
            &:hover{
                background:rgba(255, 255, 255, 0.657);
                box-shadow: 3px 4px 0px #fff;
                color:$primary-color;
            }
        }
    }
    @include pad{
        &{
            justify-content: center;
            .banner_descript{
                width:100%;
            }
        }
    }
}

.product_intro{
    width: 100%;
    padding: 50px;
    .intro_block{
        display:flex;
        height: 50vw;
        &:nth-child(odd){
            flex-direction: row-reverse;
            @include pad{ flex-direction: column;}
        }
        &:last-child{
            height: 100vw;
            @include pad{ 
                height: auto;
            }  
        }
        .intro_img{
            flex: 0 0 50%;
            img{
                display: block;
                max-width: 100%;
                width:100%;
                height: 100%;
                object-fit: cover;
                @include pad{
                    height: 500px;
                }
            }
        }
        @include pad{
            flex-direction: column;
            height: auto;
        }       
    }
}


.intro_descrip{
    flex: 0 0 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    *{
        margin:20px 0;
    }
    h3{
        font-size: 2rem;
    }
    p{
        font-size: 1.25rem;
    }
    span{
        color:$primary-color;
    }
    a{
        border: 1px solid;
        transition: all .3s;
        box-shadow: 3px 4px 0px transparent;
        &:hover{
            border: 1px solid;
            box-shadow: 3px 4px 0px $primary-color;
        }
    }
}


.product_show{
    display: flex;
    padding: 4rem;
    background-color: $third-color;
    @include card-list-bs(10,33.3333%);
    @include phone{
        // height: auto;
        flex-direction:column;
        .card-list{
            margin:20px 0;  
        }
    }
}

.product_recycle{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    .recycle_img{
        flex:1 1 500px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .recycle_info{
        flex:1 1 300px;
        padding:1rem;
        h3{
            font-size: 2rem;
            font-weight: bold;
        }
        h4{
            margin:20px 0;
        }
        p{
            letter-spacing: 1px;
        }
        span{
            color:$primary-color;
            display: inline-block;
            margin: 20px 0;
            flex:1;
        }
    }
}

.subscribe{
    height:$full-vh;
    display: flex;
    align-items: flex-end;
    &::before{
        content:"";
        display:block;
        position:fixed;
        bottom:0;
        left:0;
        z-index:-1;
        width:100%;
        height: $full-vh;
        background: center / cover no-repeat url(https://images.unsplash.com/photo-1532413992378-f169ac26fff0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80);    
    }
    
    form{
        padding: 20px;
        margin-bottom: 5rem;
    }
    label{
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        color: #8D8D8D;
        margin-bottom: 20px;
    }

    .subscr_info{
        display:flex;
        height: 56px;
        border: 2px solid $primary-color;
        input[type=text]{
            height: 100%; 
            flex: 1;
            background: #fff;
            font-size: 20px;
            line-height: 60px;
            font-size: 1rem;
            padding: 5px;
            outline: none;
            border:none;
        }
        .subscr_button{
            padding: 10px 20px;
            color:#fff;
            background:$primary-color;
            cursor: pointer;
            display: flex;
            align-items: center;
        }
    }
}



.product_list{
    padding:20px;
    display:flex;
    flex-wrap: wrap; 
    @include card-list-bs(10,25%);
    @include phone{
        @include card-list-bs(10, 100%/3);
    }
    @include mobile{
        @include card-list-bs(10, 100%/2);
    }
    .card-list{
        height: 350px;
    }
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none   ; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 1;  
    &.active{
        display: flex;
        align-items: center;
        justify-content: center;
        .material-icons{
            font-size:20vw;
            color:#fff;
            animation: move 2s infinite;
        }
        @keyframes move {
        0% {
            transform: rotate(0deg);
            opacity: 0;
        }
        50% {
            transform:  rotate(360deg);
            opacity: 1;
        }
        100% {
            transform: rotate(0deg);
            opacity: 0;
        }
        }
    }
}


.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 400px);
    grid-gap: 10px;
}

.box1 {
    grid-row-start: span 1;
    grid-column-start: span 2;
}


.add_tocart{
    display: flex;
    width: 100%;
    input{
        font-size: 16px;
        padding: 10px;
        border:1px solid $primary-color;
        // width: 100%;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        flex:1;
    }
    button{
        padding: 10px;
        background-color: $primary-color;
        color:#fff;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

    }
    a{
        padding: 10px;
        background-color: $primary-color;
        color:#fff;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}


.member{
    display: flex;
    padding: 0 20px;
    .side_menu{
        @include column-basis-style(0,15%);
        max-width: 130px;
        flex-direction: column;
        h3{
            text-align: center;
            margin: 10px 0;
        }
        ul{
            display: flex;
            flex-direction: column;
        }
        li{  
            a{
                padding: 10px 0;
                font-size: 16px;
                line-height: 24px;
                color: #848484;
                border-left: 2px solid transparent;
                &.active,&:hover{
                    border-left: 2px solid $primary-color;
                    @include pad{
                        color:$primary-color;
                        border-left: 2px solid transparent;             
                    }
                }
            }
        }
    }
    .member_form{
        flex:1;
        margin:0 50px;

        .form_control{
            display:flex;
            align-items:center;
            margin: 10px 0;

            .forms_input_group{
                flex:1;
            }
            .tw-city-selector{
                display: flex;
                margin-bottom: 10px;
            }
            .lb_check{
                align-items: center;
                p{
                    font-size: 1rem;
                }
            }
            // input[type=checkbox]+span {
            //     display: none;
            // }
            // input[type=checkbox].checked {
            //     display: none;
            // }                   
            // input[type=checkbox].checked+ span {
            //     display: inline-block;
            //     text-align: center;
            //     width: 20px;
            //     height: 20px;
            //     color:pink!important; 
            //     background-color: pink;
            //     font-size: 26px;
            //     margin: 10px;
            // }
                label {
                    padding: 0;
                    margin-right: 3px;
                    cursor: pointer;
                }
                // input[type=checkbox] {
                //     display: none;
                //     position: relative;
                // }
                // input[type=checkbox]+span {
                //     display: inline-block;
                //     background-color: #aaa;
                //     padding: 3px 6px;
                //     border: 1px solid gray;
                //     color: #444;
                //     user-select: none; /* 防止文字被滑鼠選取反白 */
                // }

                // input[type=checkbox]:checked+span {
                //     color: yellow!important;
                //     background-color: #444;
                // }
            input[type=checkbox]:checked{
                position: relative;
            }
            input[type=checkbox]:checked:before {
                position: absolute;
                top: 0px;
                left: 0;
                content: '✓';
                width: 100%;
                height: 100%;
                border-radius: 2px;
                text-align: center;
                font-size: 20px;
                color: #916000;;
                // background-color: #916000;
            }




                
        }
        label{
            min-width: 80px;
            display: flex;
            align-items: center;
            &.multi-row{
                margin-top: 10px;
                align-self: flex-start;
            }

        }

        select{
             color:#8D8D8D;
        }
        input{
            color:#8D8D8D;
        }

        h4{
            padding:10px 0;
            border-bottom: 1px solid black;
        }
        button{
            width:100px;
            align-self: flex-end;
        }
        @include pad{
            margin:0;
        }

    }
    .member_info{
        @include column-basis-style(10,25%);
        a{
            justify-content:flex-start;
        }
        span{
            // font-size: 0.9rem;
            color:$secondary-color;
        }
        .material-icons {
            display: grid;
            place-items: center;
        }
    }    
    @include pad{
        flex-direction: column;
        .side_menu{
            max-width: 100%;
            ul{
                flex-direction: row;
                justify-content:space-between;
                li{
                    padding: 0 0px;
                }
            }
        }
        .member_info{
            margin:0 0px;
            order:1;
        }
        .member_form{
            order:2;
        }
    }

    .border_btn{
        margin:20px 0;
    }
}


[data-aos="new-animation"] {
    opacity: 0;
    transition-property: transform, opacity;
}

[data-aos="new-animation"].aos-animate {
    opacity: 1;
}


// login
.login_status{
    margin:20px 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
}