.brand_catlog{
    background-color:$primary-color;
    a{
        color:$space-color;
    }
}



#product_content{
        // wishlist effect
        .card-img::before{
            content: "";
            width: 100%;
            height: 0%;
            position: absolute;
            bottom: 0%;
            left: 0%;
            color:$primary-color;  
            background-color: #b1a8a8a6;
            transition: height .4s,  color .2s  ease-in .45s;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .card-img:hover::before{
            font-family: "Material Icons";
            content: "\e87d \e8cc";
            // letter-spacing: 3rem;
            font-size: 2rem;
            width: 100%;    
            height: 100%;
            position: absolute;
            top: 0%;
            left: 0%;
            cursor: pointer;
            color: white;  
        }    
}