header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    background:#fff;
    width:100%;
    padding:20px;
    z-index: 1;
}

.logo img{
    max-width: 138px;
    display: block;
}
.navlink{
    display: flex;
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 16px;
        position: relative;
        color: $secondary-color;
        font-size: 1.2rem;
    }
    @include phone{ 
        flex-direction: column;
        position: absolute;
        top:100%;
        left:0;
        width:100%;
        max-height: 0px;
        overflow: hidden;
        transition: all .3s ease-in;
        &.active{
            max-height: 300px;
        }
        &.brand_catlog{
            display: none;
        }
        .material-icons{
            display:none;
        }
        li{
            background-color: $secondary-color;
        }
        li:hover {
            background-color: $primary-color;
        }
        a{
            padding: 10px;
            color:$space-color;
            border-bottom: 1px solid $space-color;
        }
    }
}


.mobile-navlink{
    display: none;
    @include phone{ 
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a{
        color: $secondary-color;
    }
    .menu{ 
        cursor: pointer;
        width: 50px;
        height: 50px;
        padding: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        span{
            width: 100%;
            margin: 5px 0;
            height: 1px;
            background-color: $secondary-color;
            transition: all .3s ease-out;
        }
        &:hover{
            span:nth-child(2) {
                opacity: 0;
            }
            span:nth-child(1),span:nth-child(3) {
                width: 100%;
                position: absolute;
                left: 1px;
            }
            span:nth-child(3) {
                transform: rotate(-45deg);
            }
            span:nth-child(1) {
                transform: rotate(45deg);
            }

        }
    }

}
footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color:#fff;
    width:100%;
    background:$primary-color;
    .navlink a{
        color:#fff;
    }

    .navlink{
        @include phone{ 
            display: none;
        }
    }
}