button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    padding:1rem;
    border-radius: 6px;
    cursor: pointer;
}

.button-b-r{
    border-radius: 2rem;
    padding: 20px;
}


.border_btn{
    padding:10px 20px;
    background-color:$primary-color;
    border:1px solid transparent;
    color:#fff;
    border-radius: 6px;
    display: inline-flex;

    &.active,&:hover{
        background-color:#fff;
        border:1px solid $primary-color;
        color:$primary-color;
    }
}

// a.bg--primary{
//     text-align: center;
//     border-radius: 20rem;
//     border: 2px solid #fff;
//     padding: 10px;
//     transition: all .3s;
//     &:hover{
//         background-color: rgba(255, 255, 255, 0.3);
//         box-shadow: 3px 4px 0px rgba(255, 255, 255, 0.6);
//     }
// }