.card-list{
    display: flex;
    flex-direction: column;
    height: 540px;
    @include mobile{
        height: 350px;
    }
    .card-img{
        overflow: hidden;
        position: relative;
        cursor: pointer;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: bottom;        
        }
        &::before{
            content: "MORE";
            width: 100%;
            height: 100%;
            background-color: #b1a8a8a6;
            position: absolute;
            top: 100%;
            left: 0%;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;  
            transition: transform .3s ease-in ;
            
        }
        &:hover::before{
                background-color: #2e2d2da6;
                transform: translateY(-100%);
        }
        
    }


    .card-body {
        background:$space-color;
        flex-grow: 1;
        padding: 1rem;
        .material-icons{
            color:$primary-color;
        }
    }
}


.card-cover{
    position: relative;
    &::after {
        content: "SOLD OUT";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        letter-spacing: 3px;
        @include bg-opacity($secondary-color,0.85);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


// two column 
.col-2{
    display:flex;
    div{
        @include column-basis-style(0,50%);
    }
}