.card-list{
    display: flex;
    flex-direction: column;
    .card-img{
        overflow: hidden;
        img{
            width: 100%;
            height: 300px;
            object-fit: cover;
            object-position: bottom;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        &:hover img{
            transform: scale(1.1);
        }
    }


    .card-body {
        background:$space-color;
        flex-grow: 1;
        padding: 1rem;
        .material-icons{
            color:$primary-color;
        }
    }
}


.card-cover{
    position: relative;
    &::after {
        content: "SOLD OUT";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        letter-spacing: 3px;
        @include bg-opacity($secondary-color,0.85);
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


// two column 
.col-2{
    display:flex;
    div{
        @include column-basis-style(0,50%);
    }
}