//font-size
.f-s-1{
    font-size: 16px;
    line-height: 24px;
}
.f-s-2{
    font-size: 20px;
    line-height: 30px;
}
.f-s-3{
    font-size: 24px;
    line-height: 36px;
}
//flex
.d-f{
    display:flex;
}

.d-flex{
    flex:1;
}
// layout - full
.full-section{
    height: calc(100vh - #{$header-height});
    display: flex;
    flex-direction: column;
}


.mb-3{
    width:30%;
    text-align: left;
    justify-content: flex-start;
}

.mb-5{
    width:50%;
    text-align: left;
    justify-content: flex-start;
}

// two column 
.col-2{
    display:flex;
    div{
        @include column-basis-style(0,50%);
    }
}